#drupal-off-canvas-wrapper .button--htmx,
.button--htmx {
  position: relative;
}

#drupal-off-canvas-wrapper .button--htmx-refresh {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

#drupal-off-canvas-wrapper button.button--htmx.ui-dialog-titlebar-close {
  position: absolute;
  top: revert;
  transform: revert;
}

#drupal-off-canvas-wrapper div.ui-dialog-titlebar {
  display: flex;
  align-items: center;
  min-height: 55px;
}

#drupal-off-canvas-wrapper span.ui-dialog-title {
  display: inline-block;
  vertical-align: center;
}

#drupal-off-canvas-wrapper .button--htmx-refresh::before {
  content: "↺";
  color: rgb(255, 255, 255);
  font-size: larger;
}

#drupal-off-canvas-wrapper .button--htmx-refresh:hover,
#drupal-off-canvas-wrapper .button--htmx-refresh:active {
  color: var(--off-canvas-primary-button-text-color-hover);
  background: var(--off-canvas-primary-button-background-color-hover);
}

#drupal-off-canvas-wrapper .button--htmx-refresh .default-text {
  color: rgba(0, 0, 0, 0);
}

#drupal-off-canvas-wrapper .button--htmx-refresh .htmx-indicator {
  color: rgba(0, 0, 0, 0);
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  padding-top: 0;
  padding-bottom: 0;
}

.htmx-dialog-off-canvas {
  width: 100%;
  min-height: 100vh;
  margin: 0 0 0 auto;
  transition: 0.3s;
  transform: translateX(100%);
}

@media screen and (min-width: 600px) {
  .htmx-dialog-off-canvas {
    width: 40%;
    min-width: 400px;
  }
}

.htmx-dialog-off-canvas[open] {
  transform: translateX(0);
}

#drupal-off-canvas-wrapper .htmx-indicator,
.htmx-indicator {
  display: none;
}

#drupal-off-canvas-wrapper .htmx-request .htmx-indicator,
#drupal-off-canvas-wrapper .htmx-request.htmx-indicator,
.htmx-request.htmx-indicator,
.htmx-request .htmx-indicator {
  display: inline;
}

#drupal-off-canvas-wrapper .htmx-request .htmx-indicator::before,
#drupal-off-canvas-wrapper .htmx-request.htmx-indicator::before,
.htmx-request.htmx-indicator::before,
.htmx-request .htmx-indicator::before {
  margin-right: 0.5em;
  content: "↺";
  font-size: larger;
}

.htmx-request.button--action::before {
  all: revert;
}

#drupal-off-canvas-wrapper .htmx-request .default-text,
.htmx-request .default-text {
  display: none;
}
