/* Adjusted from olivero to give some default but justify to center */

.htmx__pager--mini .pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 0;
  margin-inline-start: 0;
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style: none;
  font-weight: bold;
}

.htmx__pager--mini .pager__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(201, 15%, 44%);
  background-color: #fff;
}

.htmx__pager--mini .pager__item .htmx__pager--action-link {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
  background: inherit;
}

@media (min-width: 31.25rem) {
  .htmx__pager--mini .pager__item .htmx__pager--action-link {
    width: 54px;
    height: 54px;
  }
}

[dir="rtl"] .htmx__pager--mini .pager__item--control {
  transform: scaleX(-1);
}
