{#
/**
 * @file
 * Default theme implementation for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - pagination_heading_level: The heading level to use for the pager.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}

{% if items.previous or items.next %}
  <nav{{ attributes.addClass('pager').addClass('htmx__pager--mini').setAttribute('role', 'navigation').setAttribute('aria-labelledby', heading_id) }}>
    <{{ pagination_heading_level }} id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</{{ pagination_heading_level }}>
    <ul{{ content_attributes.addClass('pager__items', 'js-pager__items') }}>
      {% if items.previous %}
        {% apply spaceless %}
          <li class="pager__item pager__item--mini pager__item--action pager__item--previous">
            <button {{ items.previous.attributes.addClass('htmx__pager--action-link').setAttribute('title', 'Go to previous page'|t) }}>
              <span class="visually-hidden">{{ 'Previous page'|t }}</span>
              <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
            </button>
          </li>
        {% endapply %}
      {% endif %}

      {% if items.current %}
        <li class="pager__item pager__item--mini pager__item--current">
          <span class="visually-hidden">
            {{ 'Current page'|t }}
          </span>
          {{ items.current }}
        </li>
      {% endif %}

      {% if items.next %}
        {% apply spaceless %}
          <li class="pager__item pager__item--mini pager__item--action pager__item--next">
            <button {{ items.next.attributes.addClass('htmx__pager--action-link').setAttribute('title', 'Go to next page'|t) }}>
              <span class="visually-hidden">{{ 'Next page'|t }}</span>
              <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
            </button>
          </li>
        {% endapply %}
      {% endif %}
    </ul>
  </nav>
{% endif %}
